.mainPage {
  background-color: #000000;
  height: 100%;
}

.block-title {
  font-size: 2em;
  padding: 10px;
  text-align: center;
}

.block-title > p {
  color: #ffffff;
}

.imageArea {
  height: 100%;
}

iframe {
  width: 100%;
}

.nasaPic {
  width: 100%;
}

.loadingIcon {
  margin: 20% calc(50% - 22px);
}

.imgCredit {
  display: none;
  text-align: end;
}

.popup {
  opacity: .8;
}
